[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-mock = "*"

[packages]
cryptography = "*"
requests = "*"
scipy = "*"

[requires]
python_version = "3.12"
